
main {
  max-width: 800px;
  margin: 30px auto;
  background: transparent;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  color: #FFFFFF;
}

h2 {
  text-align: center;
  color: #00E0B8;
  margin-bottom: 20px;
  font-size: 2rem;
  font-weight: 600;
}

.form-section {
  margin-bottom: 20px;
}

.form-section input{
  background: transparent;
}

.option{
  background: #00071A;
}

.form-section h3 {
  color: #FFFFFF;
  margin-bottom: 10px;
  font-size: 1.2em;
  border-bottom: 2px solid #0056b3;
  padding-bottom: 5px;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
  color: #FFFFFF;
}

input, select, textarea {
  padding: 10px;
  width: 100%;
  font-size: 16px;
  margin-bottom: 15px;
  border: 2px solid #ddd;
  border-radius: 4px;
  transition: border-color 0.3s;
}

input:focus, select:focus, textarea:focus {
  border-color: #0056b3;
  outline: none;
}

.button {
  width: 60%;
  background: linear-gradient(157.81deg, #DEF9FA -43.27%, #BEF3F5 -21.24%, #9DEDF0 12.19%, #7DE7EB 29.82%, #5CE1E6 51.94%, #33BBCF 90.29%);
  color: #00040E;
  padding: 15px;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-left: 20%;
}

button:hover {
  background-color: #00408a;
}



/* Responsive Design */
@media (max-width: 768px) {
  main {
      padding: 15px;
  }

  button {
      font-size: 16px;
      padding: 12px;
  }
}

@media (max-width: 480px) {
  header h1 {
      font-size: 1.8em;
  }

  header p {
      font-size: 1em;
  }

  h2 {
      font-size: 1.6em;
  }

  button {
      font-size: 14px;
      padding: 10px;
  }
}