.review-section {
  width: 78.209vw;
  /* height: 600px; */
  margin: 0 auto;
  padding-top: 5.571vh;
  text-align: left;
  margin-bottom: 10vh;
}

/* Heading styling */
.review-section h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 3rem;
  font-weight: 600;
  line-height: 11.4vh;
  color: #FFFFFF;
  margin-bottom: 2.786vh;
}

/* Container for all review cards */
.review-cards {
  display: flex;
  gap: 1.337vw;
}




/* Base styling for each review card */
.review-card {
  width: 24.733vw;
  height: 58.496vh;
  border-radius: 1.25rem;
  padding: 1.875rem;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  backdrop-filter: blur(0.625rem);
}

/* Gradient background for the first card */
.gradient {
  background: linear-gradient(144.39deg, #FFFFFF -278.56%, #6D6D6D -78.47%, #11101D 91.61%);
}

/* Transparent background for the other cards */
.transparent {
  background: transparent;
}

/* Quote mark styling */
.quote {
  font-size: 12.5rem;
  color: #00CED1;
  /* line-height: 0.1; */
  margin-bottom: -25vh;
  margin-top: -10vh;
}

/* Review text styling */
.review-text {
  font-family: 'Poppins', sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 4.526vh;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  margin-bottom: 2.786vh;
}

/* Reviewer information container */
.reviewer-info {
  display: flex;
  align-items: center;
  gap: 0.668vw;
}

/* Reviewer image styling */
.reviewer-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

/* Reviewer name and role styling */
.reviewer-details .reviewer-name {
  font-family: 'Poppins', sans-serif;
  font-size: 1.125rem;
  font-weight: 600;
  color: #FFFFFF;
  margin: 0;
}

.reviewer-details .reviewer-role {
  font-family: 'Poppins', sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  color: #B0B0B0;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .review-cards {
      flex-direction: column;
      align-items: center;
  }

  /* Heading styling */
.review-section h2{
  font-size: 6.5vw;
}

  .review-card{
    width: 80%;
  }

  .transparent{
    background: linear-gradient(144.39deg, #FFFFFF -278.56%, #6D6D6D -78.47%, #11101D 91.61%);
  }
}
