
.how-it-works-container {
  display: flex;
  align-items: center;
  width: 80vw;
  min-height: 64.206vh;
  background: transparent;
  gap: 1.337vw;
  padding: 1.25rem;
  /* border-radius: 46px; */
  margin-left: 13vw;
  margin-top: 10vh;
  margin-bottom: 10vh;
}

@media screen and (max-width: 768px) {
  .how-it-works-container {
      flex-direction: column;
  }

  .how-it-works-text{
    width: 100%;
  }
}

/* Left text section */
.how-it-works-text {
  width: 38.102vw;
  color: white;
  font-family: 'Poppins', sans-serif;
}

.how-it-works-text h2 {
  font-size: 3rem;
  font-weight: 600;
  line-height: 10.7vh;
  letter-spacing: 0.01em;
  color: #FFFFFF;
  margin-bottom: 2.786vh;
  font-family: 'Poppins', sans-serif;
}

/* Step container */
.steps .step {
  display: flex;
  align-items: center;
  margin-bottom: 2.786vh;
  /* background-color: #FFFFFFB2; */
  padding: 0.625rem;
  border-radius: 0.5rem;
  width: 90%;
}

.step-number {
  font-size: 2rem;
  font-weight: 400;
  background-color: #00CED1;
  color: white;
  width: 2.5vw;
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-right: 1vw;
}

.step p {
  font-size: 1.4rem;
  font-weight: 200;
  line-height: 4.32vh;
  color: #FFFFFF;
  letter-spacing: 0.01em;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

/* Get Started button */
.get-started {
  margin-top: 1.337vw;
  padding: 1.393vh 2.005vw;
  background: linear-gradient(157.81deg, #DEF9FA -43.27%, #BEF3F5 -21.24%, #9DEDF0 12.19%, #7DE7EB 29.82%, #5CE1E6 51.94%, #33BBCF 90.29%);
  color: #00040E;
  font-family: 'Poppins', sans-serif;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 3.76vh;
  border: none;
  border-radius: 0.625rem;
  cursor: pointer;
}

/* Right image section */
.how-it-works-image img {
  width: 37.701vw;
  height: 61.281vh;
  border-radius: 2.875rem;
  object-fit: cover;
}


@media screen and (max-width: 768px) {
  .how-it-works-text{
    width: 100%;
  }

  .how-it-works-image img{
    width: 100%;
  }

  .step-number{
    width: 4vw;
    font-size: 1.5rem;
  }
}
