.satisfaction-container {
  background: transparent;
  color: #FFFFFF;
  padding: 5.571vh 1.337vw;
  font-family: Poppins, sans-serif;
  text-align: center;
  width: 90%;
  margin-left: 5%;
}

/* Section title styling */
.satisfaction-container h2 {
  font-family: Poppins, sans-serif;
  font-size: 3rem;
  font-weight: 600;
  line-height: 11.365vh;
  color: #FFFFFF;
  margin-bottom: 4.178vh;
}

/* Highlighted word in the title */
.highlight {
  color: #00CED1; /* Adjusted to the turquoise color */
}

/* Feature columns */
.satisfaction-features {
  display: flex;
  justify-content: space-around;
  gap: 2vw;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .satisfaction-features {
      flex-direction: column;
  }
}


/* Individual feature box */
.feature {
  width: 30%;
}

/* Subheading style for each feature */
.feature h3 {
  font-family: Poppins, sans-serif;
  font-size: 2rem;
  font-weight: 500;
  line-height: 8.357vh;
  color: #FFFFFF;
  margin-bottom: 1.393vh;
}

/* Description style for each feature */
.feature p {
  font-family: Poppins, sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 5.432vh;
  color: #FFFFFF;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .feature{
    width: 90%;
  }
}