.footer {
  width: 96.257vw;
  min-height: 58.217vh;
  margin: 0 auto;
  padding: 5.571vh 0;
  background: rgba(11, 10, 12, 0.6);
  color: rgba(255, 255, 255, 0.7);
  display: flex;
  flex-direction: column; /* Keeps the bottom section separated */
  align-items: center;
  gap: 1.337vw;
}

/* Top Section: Logo, Links, Contact - aligned in a row */
.footer-top {
  display: flex;
  justify-content: space-between;
  width: 78.209vw;
}

/* Footer Logo and Tagline */
.footer-logo {
  flex: 1; /* Adjust space proportionally */
  text-align: left;
}

.footer-logo h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  font-weight: 600;
  color: #FFFFFF;
  margin: 0;
}

.footer-logo h2 span {
  color: #00E0B8; /* Teal color */
}

.payment-tagline {
  font-family: 'Poppins', sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 4.457vh;
  color: rgba(255, 255, 255, 0.7);
  max-width: 20.856vw;
  margin-top: 1.393vh;
}

/* Footer Links */
.footer-links {
  flex: 1;
  text-align: left;
  width: 25vw;
}

.footer-links h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.125rem;
  font-weight: 500;
  color: #FFFFFF;
  margin-bottom: 2.089vh;
}

.footer-links ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer-links li {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 3.343vh;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 1.393vh;
}

/* Footer Contact Section */
.footer-contact {
  flex: 1;
  text-align: left;
  /* width: 25vw; */
}

.footer-contact h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  color: #FFFFFF;
  margin-bottom: 2.089vh;
}

.footer-contact p {
  display: flex;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 3.343vh;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 1.393vh;
  /* align-items: baseline; */
}

.footer-contact p span{
  margin-left: 1vw;
}

/* Separator Line */
.footer-separator {
  width: 78.209vw;
  border: 1px solid #3F3E45;
  margin: 2.786vh 0;
}

/* Footer Bottom Section */
.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 78.209vw;
}

.footer-bottom p {
  display: flex;
  /* align-items: center; */
  font-family: 'Poppins', sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.7);
}

.social-media{
  display: flex;
  flex-direction: row;
}

.social-media span {
  font-size: 1.125rem;
  color: rgba(255, 255, 255, 0.7);
  margin-right: 1.5vw;
  cursor: pointer;
}

.FirstBreakPoint{
  display: flex;
  /* flex-direction: column; */
}


@media screen and (max-width: 768px) {
  .footer-top{
    flex-direction: column;
  }

  .payment-tagline{
    max-width: 100%;
  }
  .FirstBreakPoint{
    display: flex;
    flex-direction: row;
    margin-top: 2vh;
  }
}